.header {
  background-color: #ffffff;
  border-bottom: 1px solid #c4c7ce;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
}

.logout {
  margin-right: 20px;
}

.logout-menu-item {
  padding: 5px;
}